{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{%block body%}
	<h1>Home</h1>
	<button role="button" id="fetchData">GetJSON</button>
	<pre>
	<div id="test">1</div>
{% endblock %}
	
{% block javascripts %}

<script type="text/javascript" src="/js/transferJSON.js"></script>

{% endblock %}